<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to MB SweetHome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/gomain" method="GET">
    <h1>MoBle<br>Sweet Home</h1>
    </form>
    <fieldset>
    <form method="post" class="login">
      <div>
      <legend>회원 로그인</legend>
      <input type="text" id="user_id" name="user_id" placeholder="ID" required>
      <input type="password" id="password" name="user_password" placeholder="Password" required>
      <button type="submit" class="btLogin">로그인</button>
      </form>
      <form action="/regist" method="GET">
      <button type="submit" class="mkid">회원가입</button>
      </form>
      <form action="/findUser" method="get">
      <button type="submit" class="search">아이디 / 비밀번호 찾기</button>
      </form>
      </div>
     </fieldset>
  </body>
</html>
