<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  </head>
  <body>
    <div id="top-logo">
      <h1>Moble<br>SweetHome</h1>
    </div>
      <div id="logout">
      <p><%=name %>님 환영합니다!</o>
      <form action="/logout" id="lgbt">
        <button type="submit">로그아웃</button>
      </form>
      </div>
    <div id="container">
    <div id="left-btn">
      <div id="left-led">
      <div id="left-led-name">
        <p>조명</p>
      </div>
      <div id="left-led-data">
        <div id="section">
        <label class="switch">
          <p>거실</p>
          <input type="checkbox" />
          <span class="clider round"></span>
        </label>
        </div>
        <div id="section">
        <label class="switch">
          <p>화장실</p>
          <input type="checkbox" />
          <span class="clider round"></span>
        </label>
        </div>
        <div id="section">
        <label class="switch">
          <p>방 1</p>
          <input type="checkbox" />
          <span class="clider round"></span>
        </label>
        </div>
      </div>
    </div>
      <div id="left-fan">
        <div id="left-fan-name">
          <p>환풍기</p>
        </div>
        <div id="left-fan-data">
          <label class="switch">
            환풍기 <input type="checkbox" />
            <span class="clider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div id="center-btn">
      <div id="center-camera">
      <div id="center-camera-name">
        <p>보안</p>
      </div>
      <div id="center-camera-data">
        <p>카메라 들어갈 곳</p>
      </div>
      </div>
    </div>
    <div id="right-btn">
      <div id="right-house">
        <p id="right-name">집</p>
        <div id="right-house-data">
          <p>온도</p><p>00℃</p>
          <p>습도</p><p>00%</p>
          <p>미세먼지</p><p>00</p>
        </div>
      </div>
      <div id="right-out">
        <p id="right-name">외부</p>
        <div id="right-out-data">
          <span class="weatherInfo"></span>
          <img class="weatherIcon">
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
