<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/logout">
    <h1>Test</h1>
    <button type="submit">로그아웃</button>
    </form>
  </body>
</html>
