<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/toggle-switchy.css' />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  </head>
  <body>
    <div id="top-logo">
      <form action="/" method="GET">
        <input type="image" src="/stylesheets/image/logo.png" class="logo">
      </form>
    </div>
      <div id="logout">
      <p><%=name %>님 환영합니다!</o>
      <form action="/logout" id="lgbt">
        <button type="submit">로그아웃</button>
      </form>
      </div>
    <div id="container">
    <div id="left-btn">
      <div id="left-led">
      <div id="left-led-name">
        <p>조명</p>
      </div>
      <div id="left-led-data">
        <div id="section">
          <p>거실</p>
          <label class="toggle-switchy" for="example_default_1" data-size="xl">
            <input type="checkbox" id="example_default_1">
            <span class="toggle">
              <span class="switch"></span>
            </span>
        </div>
        <div id="section">
          <p>화장실</p>
          <label class="toggle-switchy" for="example_default_2" data-size="xl">
            <input type="checkbox" id="example_default_2">
            <span class="toggle">
              <span class="switch"></span>
            </span>
        </div>
        <div id="section">
          <p>방 1</p>
          <label class="toggle-switchy" for="example_default_3" data-size="xl">
            <input type="checkbox" id="example_default_3">
            <span class="toggle">
              <span class="switch"></span>
            </span>
        </div>
        <div><p id="errormsg1"></p></div>
      </div>
    </div>

    </div>
    <div id="center-btn">
      <div id="center-camera">
      <div id="center-camera-name">
        <p>CCTV</p>
        <input type="submit" id="refresh" value="새로고침">
      </div>
      <div id="center-camera-data">
        <img style="-webkit-user-select: none;background-color: #404040;" src="http://112.221.103.174:8091/?action=stream" id="stream" width="712" height="626" onError="this.src='/stylesheets/image/nocamera.png'">
      </div>
      </div>
    </div>
    <div id="right-btn">
      <div id="right-house">
        <input class="open_modal1" type="button" value="전체 그래프">
        <input class="open_modal" type="button" value="Live 그래프">
        <p id="right-name">집</p>
        <div id="modal1" class="modal-overlay1">
          <div class="modal-window1">
              <div class="title1">
                  <h2>온도 / 습도 통계 그래프</h><br>
              </div>
              <div class="close-area1">X</div>
              <div class="content1">
                <div>
                  <canvas id="lineChart1" height="140"></canvas>
                </div>
              </div>
          </div>
      </div>
        <div id="modal" class="modal-overlay">
          <div class="modal-window">
              <div class="title">
                  <h2>온도 / 습도 통계 그래프</h><br>
              </div>
              <div class="close-area">X</div>
              <div class="content">
                <div>
                  <canvas id="lineChart" height="140"></canvas>
                </div>
              </div>
          </div>
      </div>
        <div id="right-house-data">
          <div class="rhd"><p>온도 : </p><p id="temp1">00</p><p class="unit">℃</p></div>
          <div class="rhd"><p>습도 : </p><p id="humi1">00</p><p class="unit">%</p></div>
          <div class="rhd"><p>미세먼지 : </p><p id="dust1">00</p><p class="unit" id="unit">㎍/㎥</p></div>
          <div class="rhd"><p>초미세먼지 : </p><p id="dust2">00</p><p class="unit" id="unit1">㎍/㎥</p></div>
          <div><p id="errormsg">* 센서 접속 실패</p></div>
          <div class="gas_data"><p class="gas_data_text"></p></div>
          <p class="hide">가스 누출 감지 중..</p>
        </div>
      </div>
      <div id="right-out">
        <div class="condition"><p style="color: #32a1ff;">좋음</p> <p style="color: #00c73c;">보통</p> <p style="color: #fd9b5a;">나쁨 </p><p style="color: #fd5959;">매우나쁨</p></div>
        <p id="right-name">외부</p>
        <div id="right-out-data">
          <div class="weathercity5"></div>
          <div class="icon_unit">
          <img class="weathericon" src="">
          <div class="weathercity"></div>
          </div>
          <div class="weahter_text">
          <div class="weatherc_class1">
            <strong>날씨 :</strong>
          <span class="weathercity1"></span>
          </div>
          <div class="weather_class1">
          <strong>습도 :</strong>
          <span class="weathercity2"></span>
          </div>
          <div class="weather_class1">
            <strong>바람 :</strong>
          <span class="weathercity3"></span>
          </div>
          </div>
          <div class="weathercity4">
            <ul class="weather_chart1">
              <li class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_mise"></strong>
                <span class="mise"></span>
                </div>
              </li>
              <li  class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_chomi"></strong>
                <span class="chomi"></span>
                </div>
              </li>
              <li  class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_sun"></strong>
                <span class="sun"></span>
                </div>
              </li>
              <li  class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_rise"></strong>
                <span class="rise"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript" src="/stylesheets/script/main.js"></script>
</html>
