<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/toggle-switchy.css' />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  </head>
  <body>
    <div id="top-logo">
      <form action="/" method="GET">
        <input type="image" src="/stylesheets/image/logo.png" class="logo">
      </form>
    </div>
      <div id="logout">
      <p><%=name %>님 환영합니다!</o>
      <form action="/logout" id="lgbt">
        <button type="submit">로그아웃</button>
      </form>
      </div>
    <div id="container">
    <div id="left-btn">
      <div id="left-led">
      <div id="left-led-name">
        <p>조명</p>
      </div>
      <div id="left-led-data">
        <div id="section">
          <p>거실</p>
          <label class="toggle-switchy" for="example_default_1" data-size="xl">
            <input type="checkbox" id="example_default_1">
            <span class="toggle">
              <span class="switch"></span>
            </span>
        </div>
        <div id="section">
          <p>화장실</p>
          <label class="toggle-switchy" for="example_default_2" data-size="xl">
            <input type="checkbox" id="example_default_2">
            <span class="toggle">
              <span class="switch"></span>
            </span>
        </div>
        <div id="section">
          <p>방 1</p>
          <label class="toggle-switchy" for="example_default_3" data-size="xl">
            <input type="checkbox" id="example_default_3">
            <span class="toggle">
              <span class="switch"></span>
            </span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#example_default_1').on('click',function(){
          if ( $(this).prop('checked') ) {
            $.ajax({
                    url : "room1_on",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      console.log(data);
                    },
                    error : function(){
                     console.log('data x')
                    }
            });

          } else {
            $.ajax({
                    url : "room1_off",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      console.log(data);
                    },
                    error : function(){
                     console.log('data x')
                    }
            });
          }
        });

        $('#example_default_2').on('click',function(){
          if ( $(this).prop('checked') ) {
            $.ajax({
                    url : "room2_on",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      console.log(data);
                    },
                    error : function(){
                     console.log('data x')
                    }
            });

          } else {
            $.ajax({
                    url : "room2_off",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      console.log(data);
                    },
                    error : function(){
                     console.log('data x')
                    }
            });
          }
        });

        $('#example_default_3').on('click',function(){
          if ( $(this).prop('checked') ) {
            $.ajax({
                    url : "room3_on",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      console.log(data);
                    },
                    error : function(){
                     console.log('data x')
                    }
            });

          } else {
            $.ajax({
                    url : "room3_off",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      console.log(data);
                    },
                    error : function(){
                     console.log('data x')
                    }
            });
          }
        });
      });
    </script>
      <div id="left-fan">
        <div id="left-fan-name">
          <p>환풍기</p>
        </div>
        <div id="left-fan-data">
          <div id="section">
            <input type="image" src="/stylesheets/image/fan_off.png" id="fanicon" disabled>
            <label class="toggle-switchy" for="example_default_4" data-size="xl">
              <input checked type="checkbox" id="example_default_4">
              <span class="toggle">
                <span class="switch"></span>
              </span>
            </label>
            <script type="text/javascript">
              $(document).ready(function(){
                if($('#example_default_4').prop('checked') == false){
                  $('#fanicon').attr('src','/stylesheets/image/fan_off.png');
                }else{
                  $('#fanicon').attr('src','/stylesheets/image/fan_on.png');
                }
              })

              $('#example_default_4').change(function(){
                if($('#example_default_4').prop('checked') == false){
                  $('#fanicon').attr('src','/stylesheets/image/fan_off.png');
                }else{
                  $('#fanicon').attr('src','/stylesheets/image/fan_on.png');
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <div id="center-btn">
      <div id="center-camera">
      <div id="center-camera-name">
        <p>CCTV</p>
      </div>
      <div id="center-camera-data">
        <img style="-webkit-user-select: none;background-color: #404040;" src="http://112.221.103.174:8091/?action=stream" width="712" height="626" onError="this.src='/stylesheets/image/nocamera.png'">
      </div>
      </div>
    </div>
    <div id="right-btn">
      <div id="right-house">
        <p id="right-name">집</p>
        <div id="right-house-data">
          <div class="rhd"><p>온도 : </p><p id="temp1">00</p><p class="unit">℃</p></div>
          <div class="rhd"><p>습도 : </p><p id="humi1">00</p><p class="unit">%</p></div>
          <div class="rhd"><p>미세먼지 : </p><p>00</p><p class="unit">㎍/㎥</p></div>
          <div><p id="errormsg"></p></div>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          setInterval(function() {
            $.ajax({
                    url : "humid",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                      if(data == 0){
                        $('#errormsg').html('* 센서 접속 실패');
                      }else{
                        $('#temp1').html(data[0]);
                        $('#humi1').html(data[1]);
                      }
                    },
                    error : function(){
                     console.log('data x')
                    }
            });
          }, 5000);
        });
      </script>
      <div id="right-out">
        <p id="right-name">외부</p>
        <div id="right-out-data">
          <div class="weathercity5"></div>
          <div class="icon_unit">
          <img class="weathericon" src="">
          <div class="weathercity"></div>
          </div>
          <div class="weahter_text">
          <div class="weatherc_class1">
            <strong>날씨 :</strong>
          <span class="weathercity1"></span>
          </div>
          <div class="weather_class1">
          <strong>습도 :</strong>
          <span class="weathercity2"></span>
          </div>
          <div class="weather_class1">
            <strong>바람 :</strong>
          <span class="weathercity3"></span>
          </div>
          </div>
          <div class="weathercity4">
            <ul class="weather_chart1">
              <li class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_mise"></strong>
                <span class="mise"></span>
                </div>
              </li>
              <li  class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_chomi"></strong>
                <span class="chomi"></span>
                </div>
              </li>
              <li  class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_sun"></strong>
                <span class="sun"></span>
                </div>
              </li>
              <li  class="weather_chart2">
                <div class="weather_box">
                <strong class="weather_chart_rise"></strong>
                <span class="rise"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript">

        $(document).ready(function(){
          // setInterval(function(){
          $.ajax({
                    url : "weather",
                    type : "post",
                    dataType : 'json',
                    success : function(data){
                        const arr = (data.munji).split(" ");
                        const Ondo = (data.ondo).split("도");
                        $('.weathercity5').html(data.address1);
                        $('.weathercity').html(Ondo[1]);
                        $('.weathercity1').html(data.nalsi);
                        $('.weathercity2').html(data.humi);
                        $('.weathercity3').html(data.wind);
                        $('.weather_chart_mise').html(arr[4]);
                        $('.mise').html(arr[5]);
                        $('.weather_chart_chomi').html(arr[10]);
                        $('.chomi').html(arr[11]);
                        $('.weather_chart_sun').html(arr[16]);
                        $('.sun').html(arr[17]);
                        $('.weather_chart_rise').html(arr[22]);
                        $('.rise').html(arr[23]);

                        if(arr[5] == '좋음'){
                          $('.mise').css('color', '#32a1ff');
                        }else if(arr[5] == '보통'){
                          $('.mise').css('color', '#00c73c');
                        }else if(arr[5] == '나쁨'){
                          $('.mise').css('color', '#fd9b5a');
                        }else if(arr[5] == '매우나쁨'){
                          $('.mise').css('color', '#fd5959');
                        }

                        if(arr[11] == '좋음'){
                          $('.chomi').css('color', '#32a1ff');
                        }else if(arr[11] == '보통'){
                          $('.chomi').css('color', '#00c73c');
                        }else if(arr[11] == '나쁨'){
                          $('.chomi').css('color', '#fd9b5a');
                        }else if(arr[11] == '매우나쁨'){
                          $('.chomi').css('color', '#fd5959');
                        }

                        if(arr[17] == '좋음'){
                          $('.sun').css('color', '#32a1ff');
                        }else if(arr[17] == '보통'){
                          $('.sun').css('color', '#00c73c');
                        }else if(arr[17] == '나쁨'){
                          $('.sun').css('color', '#fd9b5a');
                        }else if(arr[17] == '매우나쁨'){
                          $('.sun').css('color', '#fd5959');
                        }

                        if(data.nalsi == '맑음'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt1.svg')
                        }else if(data.nalsi == '흐림'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt7.svg')
                        }else if(data.nalsi == '구름조금'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt3.svg')
                        }else if(data.nalsi == '구름많음'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt5.svg')
                        }else if(data.nalsi == '약한비'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt8.svg')
                        }else if(data.nalsi == '비'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt9.svg')
                        }else if(data.nalsi == '강한비'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt10.svg')
                        }else if(data.nalsi == '약한눈'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt11.svg')
                        }else if(data.nalsi == '눈'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt12.svg')
                        }else if(data.nalsi == '강한눈'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt13.svg')
                        }else if(data.nalsi == '흐린 후 갬'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt25.svg')
                        }else if(data.nalsi == '비 후 갬'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt27.svg')
                        }else if(data.nalsi == '눈 후 갬'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt28.svg')
                        }else if(data.nalsi == '흐려져 비'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt29.svg')
                        }else if(data.nalsi == '흐려져 눈'){
                          $('.weathericon').attr('src', 'https://ssl.pstatic.net/sstatic/keypage/outside/scui/weather_new_new/img/weather_svg/icon_flat_wt30.svg')
                        }
                    },
                    error : function(){
                      $('.weathercity').html("서버에서 데이터를 불러오지 못하였습니다.");
                    }
                });
              // }, 60000);
        });
      </script>
    </div>
  </div>
  </body>
</html>
