<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel='stylesheet' href='/stylesheets/regist.css' />
</head>
<body>
    <fieldset id="join-form">
        <h1>MOBLE<br>Sweet Home</h1>
        <form method="post">
        <label class="legend"><strong>아이디</strong></label>
        <input type="text" class="text" id="id" name="id" maxlength="12" required>
        <p id="checkid"></p>
        <label class="legend"><strong>비밀번호</strong></label>
        <input type="password" class="text" maxlength="12" name="password" required>
        <label class="legend"><strong>비밀번호 재확인</strong></label>
        <input type="password" class="text" maxlength="20" name="password2" required>
        <p id="checkpw"></p>
        <label class="legend"><strong>이름</strong></label>
        <input type="text" class="text" name="name" required>
        <label class="legend"><strong>이메일</strong></label>
        <input type="text" class="text" name="email">
        <label class="legend"><strong>생년월일</strong></label>
			<input name="birth" type="text" class="birth" placeholder="년(4자)" maxlength="4" required>
			<label><strong>년</strong></label>
			<select name="month" required>
				<option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
			</select>
			<label><strong>월</strong></label>
            <input name="day" type="text" class="birth" maxlength="2" required>
			<label><strong>일</strong></label>
        <label class="legend"><strong>전화번호</strong></label>
        <div class="number">
        <input type="text" class="fnum" value="010" readonly>-
        <input name="pnumber" type="text" class="pnum" maxlength="8" required>
        </div>
        <input name="go" type="submit" class="go" value="가입하기">
	</form>
    </fieldset>
</body>
</html>
