*   {
    margin: 0;
    padding: 0;
    font-family: 'Jua';
}

body{
    background-color: #c5dfe5;
}
#top-logo{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
    font-size: large;
}

.logo{
    width: 300px;
    margin: 0 auto;
  }

#logout{
    position: absolute;
    right: 0;
    top: 12px;
    display: flex;
    justify-content:left;
}

#lgbt{
    margin-left: 10px;
    margin-right: 10px;
}

#container{
    display: inline-flex;
    justify-content: space-around;
    /* align-items: center; */
}

#left-btn, #right-btn, #center-btn{
text-align: center;
width: 500px;
height: 800px;
margin: 10px;
}

#center-btn{
    width: 800px;
}

#left-led, #left-fan, #right-house, #right-out, #center-camera{
    padding: 10px;
    margin: 30px;
    height: 42%;
}

#center-camera{
    height: 91%;
}
#right-house-data, #right-out-data{
    border: 4px solid #00ac95;
    height: 92%;
    background-color: white;
    width: 420px;
}

.rhd{
    display: flex;
    justify-content:space-around;
    margin: 30px;
    padding: 0px 10px 10px 10px;
    font-size: 38px;
}

.unit{
    font-size: 38px;
}
#left-led-name, #left-led-data, #left-fan-name, #left-fan-data, #center-camera-name, #center-camera-data{
    border: 4px solid #00ac95;
    background-color: white;
}

#left-led-name, #left-fan-name{
    height: 15%;
    font-size:38px;
    margin-bottom: 10px;
    padding: 20px 15px 15px 15px;
    font-weight: bolder;
    border-radius: 20px;
}

#center-camera-name{
    height: 7%;
    font-size: 40px;
    padding: 15px;
    font-weight: bolder;
    width: 250px;
    margin: 0 225px 10px 225px;
    border-radius: 20px;
}
#left-led-data, #left-fan-data{
    height: 70%;
    border-radius: 30px;
}

#left-fan-data #section{
    height: 85%;
}
#center-camera-data{
    height: 86%;
}

#right-name{
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
}

#section{
    display: flex;
    justify-content:space-between;
    padding: 15px 70px 20px 70px;
    margin: 5px;
    font-size: 30px;
}

#fanicon{
    width: 150px;
}

/* #right-out-data{
    background-color: #ffffff;
} */

.weathercity5{
    text-align: right;
    font-size: 18px;
    margin: 10px;
}
.weathercity{
    font-size: 66px;
}
.weathercity4{
    margin: 10px;
}

.weather_chart1{
    list-style-type: none;
}

.weahter_text{
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
}

.weahter_text span{
    font-family: '맑은고딕';
}
.weather_chart2{
    margin: 0;
    padding: 0;
    float: left;
}
.weather_box{
    margin: 21px;
    text-align: center;
}
li strong, li span{
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 18px;
}

.rise{
    color: #fd9b5a;
}

.icon_unit{
    display: flex;
    justify-content:center;
}

#errormsg, #errormsg1{
    color: red;
}

#refresh{
    position:relative;
    right: -325px;
    top: -25px;
    width: 50px;
    height: 30px;
    border: 2px solid #00ac95;
}