*   {margin: 0; padding: 0;}

#join-form{
    width:600px;
    margin:90px auto;
    padding:50px;
    border: 1px solid black;
    font-family: '맑은고딕', '돋움';
    text-align: center;
}
h1{
    padding-bottom: 20px;
}
label.legend, legend strong{
    display: block;
    margin-top:10px;
    text-align: left;
}

label.legend{
    margin-left: 150px;
}
p{
    text-align: left;
    margin-left: 150px;
    font-size: 14px;
}
fieldset{border: none;
padding-bottom: 10px;}
.text{
    width:50%;
    padding:10px;
    margin:5px 0;
    border-radius:5px;
}

.address{
    display: flex;
    justify-content:center;
}

.address1{
    width:25%;
    padding:10px;
    margin:5px 12px 0;
    border-radius:5px;
    border: 2px solid black;
}
.gender{
    width: 225px;
    height: 40px;
}
.birth{
    width:50%;
    padding:10px;
    margin:5px 0;
    border-radius:5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 15px;
}


.go{
    width: 310px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #000000;
    border: 1px solid #000000;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#checkedpw{
    color: green;
}
#notcheckpw{
    color: red;
}

#userid_msg1{
    color: red;
}
#userid_msg2{
    color: green;
}
input[type=radio]{
    margin: 3px 3px 3px 30px;
    width:20px;
    height: 20px;
}
.number{
    width: 50%;
    border: 2px solid black;
    padding:10px;
    margin:5px auto;
    border-radius:5px;
}
.dmail{
    width: 455px;
    border: none;
    margin-left: 140px;
    float: left;
}
.dmail2{
    width: 70%;
    border: 2px solid black;
    height: 40px;
    border-radius:5px;
    float: left;
}
.email{
    width: 110px;
    padding:10px;
    margin:2px 0 0 0;
    border: none;
    float: left;
}
p.email{
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}
.semail{
    width:25%;
    border: 2px solid black;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.number, .fnum{
    font-size: 15px;
}
.pnum{
    width:200px;
    padding: 10px;
    border-radius:5px;
    border: none;
    font-size: 15px;
}
.fnum{
    padding: 10px;
    width:30px;
    border: none;
}