*{margin:0;padding:0;}

fieldset{
  width:600px;
  margin:50px auto;
  padding:50px;
  box-sizing:border-box;
  border: 0;
}

.logo{
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 180px;
  left: 750px;
}
.logindiv{
  width: 645px;
  display: block;
  margin: 150px 500px 100px 500px;
  background-color: white;
  border-radius: 50px;
  border: 25px solid #3a3a3a;
}
h1{
  text-align: center;
  font-size: 50px;
}
body {
  height: 100%;
  padding: 100px;
  margin: 40px 0 0 0;
  font-size: 14px;
  font-family: 'Jua';
  background-color: #dbaf84;
  background-image: url("/stylesheets/image/loginimg.png");
  background-size:cover;
}
legend{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}
a {
  color: #00B7FF;
}

input[type=text],input[type=password], .btLogin{
  display:block;
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:5px;
  box-sizing:border-box;
}
button{
  font-size: 14px;
  height: 45px;
  background-color: #02ceb3;
  border-color: #02ceb3;
  font-family: 'Jua';
}
.search, .mkid{
  display:block;
  width:50%;
  padding:10px;
  margin:5px 0px;
  border-radius:5px;
  box-sizing:border-box;
  float: left;
}
